.App {
  text-align: center; 
}

.text-Note::-webkit-scrollbar {
  display: none;
}
.todo-title {
  font-size: 35px;
  font-family: "Bai Jamjuree", sans-serif;
  font-weight: 700;
  color: white;
}
.title-input-div {
  background-color: #041d43;
  width: 98%;
  margin: 25px auto 0px auto;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.text-Field {
  width: 98% !important;
}
.each-item {
  background-color: #041d43;
  width: 98%;
  display: flex;
  align-items: center;
  height: 90px;
  margin: 25px auto 0px auto;
}
.text-Note
{
  color: white;
  font-family: "Bai Jamjuree", sans-serif;
  padding-left: 15px;
  overflow-x: scroll;
  width: 78%;
  text-align: left;
}
.text-icons
{
  text-align: right;
  flex: auto;
  padding-right: 15px;

}